mark {
  color: lemonchiffon;
  background-color: darkorchid;
}

html {
  color: thistle;
  background-color: darkorchid;
  background-image: radial-gradient(purple, darkorchid);
}

::selection {
  background-color: midnightblue;
  color: orchid;
}

:any-link {
  color: inherit;
  background-color: transparent;
}

:focus {
  outline-color: currentColor;
}
